*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#hover_box{
    background: #273c75;
    height: 100vh;
}
#hover_box .container{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: hidden;
}
#hover_box .hover_box{
    width: 300px;
    height: 390px;
    background: #fff;
    cursor: pointer;
    position: relative;
}
#hover_box .hover_box img{
    width: 100%;
    height: 100%;
}
#hover_box .hover_box::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: #000;
    left: 0%;
    top: 0%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;

}
   #hover_box .hover_box:hover::after{
    width: 100%;
    opacity: 0.7; 
    transition: 0.5s cubic-bezier(.17,.67,.4,.99);  
    visibility: visible;
    top: 0;

} 
#hover_box .icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 55;
}
#hover_box .icons span{
    width: 40px;
    height: 40px;
    background: #fff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
#hover_box .icons span:hover{
    background: #273c75;
    color: #fff;
   
    transition: 0.5s;
}
#hover_box .icons span:first-child{
    transform: translateY(-100%);
    transition: 0.5s;
    opacity: 0;
}
#hover_box .icons span i:hover{
    transform: rotate(360deg);
    visibility: hidden;
    transition: 0.5s;
}   
#hover_box .icons span:last-child{
    transform: translateY(100%);
    transition: 0.5s;
    /* transition-delay: 0.2s; */
    visibility: hidden;
   
}
#hover_box .hover_box:hover .icons span:first-child{
    transform: translateY(0%) rotate(360deg);
    opacity: 1;
    visibility: visible;
}
#hover_box .hover_box:hover .icons span:last-child{
    transform: translateY(0%) rotate(360deg);
    opacity: 1;
    visibility: visible;
}